Language: Cpp # Cpp is also used for C
BasedOnStyle: Google

ColumnLimit: 0
BreakBeforeBraces: Attach
AlignAfterOpenBracket: DontAlign

IndentWidth: 4
UseTab: Always
IndentCaseLabels: false

AllowShortBlocksOnASingleLine: Empty

AlwaysBreakAfterDefinitionReturnType: None
SortIncludes: false
