# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = tab

[*.py]
indent_size = 4
tab_width = 4


[*.{c,h,cpp,hpp,ixx}]
indent_size = 4edi

[*.md]
trim_trailing_whitespace = false
max_line_length = 0
